@keyframes rotate {
  0% {
    transform:rotate(0);
  }
  100% {
    transform:rotate(360deg);
  }
}

body {
  background: #199638;
}

footer {
  padding: 3rem 0;
}

.page-content {
  background: #fff;
  padding-top: 1rem;
}

.inverse a, .inverse a:visited {
  color: #fff;
}

.logo {
  display: block;
  height:0;
  margin:0 auto;
  overflow:hidden;
  position:relative;
  min-height:250px;
  max-width:250px;
}

.logo-tiny {
  max-width: 100px;
  min-height: 100px;
}

.logo * {
  cursor:default;
}

.logo-cont {
  position:absolute;
  height:100%;
  left:0;
  top:0;
  width:100%;
}

.logo-bulb,
.logo-border,
.logo-anim {
  bottom:0;
  left:0;
  position:absolute;
  right:0;
  top:0;
}

.logo-bulb {
  background:url(../layers/lightbulb.png) center center no-repeat;
  background-size:contain;
}

.logo-anim {
  animation: rotate 10s linear infinite;
  background:url(../layers/flaps.png) center center no-repeat;
  background-size:contain;
}

.logo-border {
  background: url(../layers/circle.png) center center no-repeat;
  background-size:contain;
}

.profile-link {
  position: relative;
}

.profile-link .name {
  background: rgba(255,255,255,.8);
  bottom: 0;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size: 20px;
  padding: 0 10px;
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
}

.wip {
  color: #ccc;
  font-size: 30px;
}

#partners img.improliga {
  width: 32px;
}

#partners .kudy-z-nudy {
	height: 32px;
	overflow: hidden;
	display: block;
}
#partners .kudy-z-nudy img {
	position:relative;
	top: -16px;
}

@media (min-width: 768px) {
  .text-center-sm {
    text-align: center;
  }

  .text-sm-left {
    text-align: left;
  }

  .logo-right-sm {
    margin: 0 0 0 auto;
  }

  .profile-link .name {
    font-size: 22px;
  }
}

@media (min-width: 992px) {
  .text-center-md {
    text-align: left;
  }

  .text-left-md {
    text-align: left;
  }
  .text-center-md {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .text-center-lg {
    text-align: left;
  }

  .text-left-lg {
    text-align: left;
  }
  .text-center-lg {
    text-align: center;
  }
}

.show-count {
  font-size:36px;
  text-align: center;
}

.well {
  padding: 1rem 0 1rem;
  margin: 1rem 0;
  background: rgba(200,200,200,.4);
}
